.game-display {
  grid-column: span 1;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  height: 86px;
}

/* Defines how the triangular prism flips */
.flip-timer {
  transform: rotateX(240deg);
}

.flip-congrats {
  transform: rotateX(120deg);
}

/* SIDE THREE: CONGRATS */
.congrats {
  display: grid;
  height: 100%;
  width: 100%;
  transform: rotateX(-120deg);
}

.congrats p {
  margin: 0;
  padding: 0;
}

.game-config,
.congrats {
  /* .timer { */
  height: 100%;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dashboard {
    max-width: 1200px;
  }
}
