@font-face {
  font-family: "Niagaraphobia";
  src: url("./../../assets/Niagaraphobia.woff2") format("woff2"),
    url("./../../assets/Niagaraphobia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
}

.hidden {
  visibility: hidden;
}

button,
label,
option,
select,
p {
  font-family: "Niagaraphobia";
  color: white;
}

button {
  border-color: #575757;
  outline: none;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

.col-3 {
  grid-column: span 3;
}

.game-controls {
  grid-column: span 1;
}

.control-button {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 70px;
}

.half {
  height: 50%;
  font-size: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
