@font-face {
  font-family: "Niagaraphobia";
  src: url("./../../assets/Niagaraphobia.woff2") format("woff2"),
    url("./../../assets/Niagaraphobia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
}

.hidden {
  visibility: hidden;
}

button,
label,
option,
select,
p {
  font-family: "Niagaraphobia";
  color: white;
}

svg {
  color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.game-display {
  grid-column: span 1;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  height: 86px;
}

.display-panel {
}

.congrats {
  display: grid;
  border: solid red;
  height: 100%;
  width: 100%;
}

.congrats p {
  margin: 0;
  padding: 0;
}

.side-one {
  transform: rotateX(0deg);
}

.side-two {
  transform: rotateX(120deg);
}

.side-three {
  transform: rotateX(-120deg);
}

.flip-timer {
  transform: rotateX(240deg);
}

.flip-congrats {
  transform: rotateX(120deg);
}

.game-config {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5px;
  width: 100%;
}

.game-config * {
  font-size: 15px;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

.col-3 {
  grid-column: span 3;
}

.score {
  margin: 0;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5f720;
  width: 100%;
  font-size: 30px;
}

.game-config,
.congrats,
.timer {
  height: 100%;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/border- select {
  text-align: center;
}

.game-controls {
  grid-column: span 1;
}

.control-button {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 70px;
}

.half {
  height: 50%;
  font-size: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
