@font-face {
  font-family: "Niagaraphobia";
  src: url("./../../assets/Niagaraphobia.woff2") format("woff2"),
    url("./../../assets/Niagaraphobia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#react-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* TODO: for some reason, its messing with the flipping of the card... */
  /* overflow: hidden; */
  transition: transform 750ms;
  transform-style: preserve-3d;
}

.hidden {
  visibility: hidden;
}

button,
label,
option,
select,
div,
p {
  font-family: "Niagaraphobia";
  color: white;
}

button {
  outline: none;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

.col-3 {
  grid-column: span 3;
}

.screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-screen {
  transform: rotateY(180deg);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
